<div class="container">
	<h2>Edition</h2>
	<form id="editForm" role="form" method="post" action="../update/<%= user.id %>">
		<% if(flash && flash.err) { %>
		<ul class="alert alert-danger">
			<% Object.keys(flash.err).forEach(function(error) { %>
			<li><%- JSON.stringify(flash.err[error]) %></li>
			<% }) %>
		</ul>
		<% } %>
		<div class="form-group">
			<label for="username">Nom d'utilisateur</label>
			<input type="text" name="username" class="form-control" value="<%= user.username %>">
		</div>
		<div class="form-group">
			<label for="firstName">Prénom</label>
			<input type="text" name="firstName" class="form-control" value="<%= user.firstName %>">
		</div>
		<div class="form-group">
			<label for="lastName">Nom</label>
			<input type="text" name="lastName" class="form-control" value="<%= user.lastName %>">
		</div>
		<hr>
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" name="email" class="form-control" value="<%= user.email %>">
		</div>
		<input type="hidden" id="userId" value="<%= user.id %>"/>
		<button type="submit" class="btn btn-default">Editer</button>
		<input type="hidden" name="_csrf" value="<%= _csrf %>" />
	</form>
</div>