<div class="container">
	<h1><%= user.username %></h1>
	<h2><%= user.firstName %> <%- user.lastName %></h2>
	<hr>
	<h3><%= user.email %></h3>
	<hr>
	<p><a href="/user/edit/<%= user.id %>" class="btn btn-primary">Editer</a><a href="/user/destroy/<%= user.id %>" class="btn btn-danger">Supprimer</a><p>

</div>